h2 {
  color: #1672EB;
}

.borde {
    border: 1px solid black;
}

#section{
    border: 1px solid black;
}

.titulo{
text-align: center;
}

.😁  {
    color: #923FEB;
}


a[href]{
    text-decoration: none ;
}

[href^="https"]{
    color: #EB3F3F;
}
[href$=".org"]{
    background-color: hsl(50 33% 25% / 75%);}